<article class="pitch-container">
    <h2 class="pitch-padding"><%= pitch.title %></h2>
    <p class="pitch-padding"><%= pitch.description %></p>
    <p class="pitch-padding"><%= pitch.pitchers %></p>
 </article>