<div class="container">
	<h2>Check out these sweet votes</h2>
</div>

<div class="votes-list">
	<% @votes.each do |vote| %>
		<%= render 'votes/vote', vote: vote  %>
	<% end %>
	<!-- other pitches get populated below in this space -->
</div>

